In [1]:
import sys
sys.path.append('../utils')
from utils import *

In [2]:
eu = ETL_Utils(path = '../data/dummy/ORDER_STATUS_REPORT.xlsx', excel_name = 'ORDER_STATUS_REPORT')
eu.meta_sheet_info()
eu.read_excel()
eu.clean_data_text(eu.data_text)
eu.clean_data_int(eu.data_int)
eu.clean_data_int(int)
eu.clean_data_float(eu.data_float)
eu.clean_data_float(float)

In [3]:
eu.clean_data_datetime(eu.yyyymmdd_datetime)

a
b
[EVENT] INSERT INFO:
 ORDER_STATUS_REPORT ALLOC_CW, Legal, SST, SO, REMARK, Grade, Year, Month, Invoice_Num, Invoice_Date, CustomerPO_Num, Customer_Name, PO_Date, Requested_Delivery_Date, Updated_RDD, Cargo_Release_Date, ETD, ETA, SM, Type, Item_Code, Product_Name, PW, PCS, Total_Watt, ASP, Revenue, Pre_Tariff_ASP, Tariff_Revenue, Freight_Storage_Charge, Taxes, Total_Incoming, Incoterm, Deposit, Payment_Term, City, State, ZIP, Country, WH, SIP, CVD, WH_PS, SPA, SO_, SO_Approval
168.15870594978333
c

In [ ]:
eu.df

In [ ]:
INSERT INTO ORDER_STATUS_REPORT (ALLOC_CW, Legal, SST, SO, REMARK, Grade, Year, Month, Invoice_Num, Invoice_Date, CustomerPO_Num, Customer_Name, PO_Date, Requested_Delivery_Date, Updated_RDD, Cargo_Release_Date, ETD, ETA, SM, Type, Item_Code, Product_Name, PW, PCS, Total_Watt, 
                                 ASP, Revenue, Pre_Tariff_ASP, Tariff_Revenue, Freight_Storage_Charge, Taxes, Total_Incoming, Incoterm, Deposit, 
                                 Payment_Term, City, State, ZIP, Country, WH, SIP, CVD, WH_PS, SPA, SO_, SO_Approval) 

VALUES ('', '2022-03-04', '2022-02-15', 'AA', '', '', 0, 0, '127224', '2022-03-07', '001', 'Amped Solutions, Inc.',
        '2021-10-04', '2022-01-22', '', '2022-03-03', '2022-03-07', '2022-03-08', 'MIKE', 0, '30380659F', 
        'Q.PEAK DUO L G6.2', 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'CIP', 0, 0, 'Richmond', 'CA', '94804', 
        'USA', 'CA', 'N', 'Tariff', 'PS', '', '', '')


ds2Cursor.executemany('INSERT INTO [TableName] (Col1, Col2, Col3) VALUES (?, ?, ?)', result)
ds2Cursor.commit()

In [4]:



class Global(object):
    root_path = 'C:/Users/qcells/Desktop/ATP/US_ATP_BI'
    driver= '{ODBC Driver 17 for SQL Server}'  
    server = 'qcells-us-atp-db-server.database.windows.net'
    database = 'us-qcells-atp-db'
    username = 'qcells'
    password = '{Asdqwe123!@#}'   

    
conn = f"""Driver={Global.driver};Server=tcp:{Global.server},1433;Database={Global.database};
    Uid={Global.username};Pwd={Global.password};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"""
params = urllib.parse.quote_plus(conn)
conn_str = 'mssql+pyodbc:///?autocommit=true&odbc_connect={}'.format(params)
engine = create_engine(conn_str, echo=True)

In [12]:
a = time.time()
eu.df.to_sql('ORDER_STATUS_REPORT', engine, if_exists='append' , index = False)
time.time() - a

2022-04-26 09:57:40,520 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2022-04-26 09:57:40,521 INFO sqlalchemy.engine.Engine [cached since 463.9s ago] ('BASE TABLE', 'ORDER_STATUS_REPORT', 'dbo')
2022-04-26 09:57:40,606 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-26 09:57:40,736 INFO sqlalchemy.engine.Engine INSERT INTO [ORDER_STATUS_REPORT] ([ALLOC_CW], [Legal], [SST], [SO], [REMARK], [Grade], [Year], [Month], [Invoice_Num], [Invoice_Date], [CustomerPO_Num], [Customer_Name], [PO_Date], [Requested_Delivery_Date], [Updated_RDD], [Cargo_Release_Date], [ETD], [ETA], [SM], [Type], [Item_Code], [Product_Name], [PW], [PCS], [Total_Watt], [ASP], [Revenue], [Pre_Tariff_ASP], [Tariff_Revenue], [Freight_Storage_Charge], [Taxes], [Total_Incoming], [Incoterm], [Deposit], [Payment_Term], [City], [State], [ZIP], [Country], [WH], [SIP], [CVD], [WH_PS], [SPA], [SO_], [SO_Approval]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-04-26 09:57:40,736 INFO sqlalchemy.engine.Engine [generated in 0.04928s] (('', '2022-03-04', '2022-02-15', 'AA', '', '', 0, 0, '127224', '2022-03-07', '001', 'Amped Solutions, Inc.', '2021-10-04', '2022-01-22', '', '2022-03-03', '2022-03-07', '2022-03-08', 'MIKE', 0, '30380659F', 'Q.PEAK DUO L G6.2', 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'CIP', 0, 0, 'Richmond', 'CA', '94804', 'USA', 'CA', 'N', 'Tariff', 'PS', '', '', ''), ('', '2022-03-10', '2022-03-10', 'AA', '', 'P2', 0, 0, '127323', '2022-03-10', '74298 PT3', 'Borrego Solar Systems, Inc', '2021-08-24', '2021-11-01', '2022-02-28', '2022-02-09', '2022-03-07', '2022-03-10', 'MIKE', 0, '49301156', 'Q.PEAK DUO XL G10.C', 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'DDP', 0, 0, 'Sacramento', 'CA', '95828', 'USA', 'GA', 'N', '', 'PS', '', '', ''), ('', '2022-03-10', '2022-03-10', 'AA', '', 'P2', 0, 0, '127200', '2022-03-02', '74298 PT4', 'Borrego Solar Systems, Inc', '2021-08-24', '2021-11-01', '2022-02-28', '2022-02-09', '2022-03-01', '2022-03-02', 'MIKE', 0, '49301156', 'Q.PEAK DUO XL G10.C', 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'DDP', 0, 0, 'Jacksonville', 'FL', '95828', 'USA', 'GA', 'N', '', 'PS', '', '', ''), ('', '2022-03-22', '2022-03-01', 'AA', '30397471C actually shipped', '', 0, 0, '127628', '2022-03-29', '220209', 'Bright Future Solar Energy Inc.', '2002-02-09', '2022-03-09', '', '2022-03-22', '2022-03-29', '2022-03-30', 'Mike', 0, '30397471F', 'Q.PEAK DUO XL G10.C', 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'CIP', 0, 0, 'Castorville', 'CA', '95012', 'USA', 'CA', 'N', 'Tariff', 'WH', '', '', ''), ('', '2022-03-09', '2022-03-09', 'AA', 'shipped as 12005804C', 'P2', 0, 0, '127276', '2022-03-14', '1521-BL965348S', 'CED Greentech Anaheim', '2021-03-24', '2021-09-01', '', '2022-03-10', '2022-03-14', '2022-03-18', 'Mike', 0, '12005804F', 'Q.PEAK DUO L G8.2', 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'CIP', 0, 0, 'Anaheim', 'CA', '92806', 'USA', 'Savannah, GA', 'N', 'Tariff', 'WH', '', '', ''), ('', '2022-03-08', '2022-03-08', 'AA', '', '', 0, 0, '127781', '2022-03-31', '1521-BL966036S', 'CED Greentech Anaheim', '2021-06-14', '2021-12-01', '', '2022-03-08', '2022-03-30', '2022-04-04', 'MIKE', 0, '49204132', 'Q.PEAK DUO BLK G10+ AC', 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'CIP', 0, 0, 'Anaheim', 'CA', '92806', 'USA', 'ATL, GA', 'N', '', 'WH', '', '', ''), ('', '2022-03-08', '2022-03-08', 'AA', 'Load# 393275731 156pcs Missing', '', 0, 0, '127876', '2022-03-30', '1521-BL966036S', 'CED Greentech Anaheim', '2021-06-14', '2021-12-01', '', '2022-03-08', '2022-03-30', '2022-04-04', 'MIKE', 0, '49204132', 'Q.PEAK DUO BLK G10+ AC', 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'CIP', 0, 0, 'Anaheim', 'CA', '92806', 'USA', 'ATL, GA', 'N', '', 'WH', '', '', ''), ('', '2022-03-08', '2022-03-08', 'AA', '', '', 0, 0, '127739', '2022-03-31', '1521-BL966524S', 'CED Greentech Anaheim', '2021-08-25', '2021-12-06', '', '2022-03-08', '2022-03-31', '2022-04-05', 'MIKE', 0, '49204132', 'Q.PEAK DUO BLK G10+ AC', 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'CIP', 0, 0, 'Anaheim', 'CA', '92806', 'USA', 'ATL, GA', 'N', '', 'WH', '', '', '')  ... displaying 10 of 2703 total bound parameter sets ...  ('', '', '', 'JL', 'SST/Allocate', '', 0, 0, 'NEW PO', '', 'P103439972', 'Rexel USA, INC', '2021-12-20', '2022-05-06', '', '', '', '', 'Dennis', 0, '', 'Q.PEAK DUO BLK ML G10+', 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'CIP', 0, 0, 'Saint Rose', 'LA', '70087', 'USA', '', '', '', 'WH', '', 'N', 'N'), ('', '', '', 'JL', 'SST/Allocate', '', 0, 0, 'NEW PO', '', 'P103439975', 'Rexel USA, INC', '2021-12-20', '2022-04-01', '', '', '', '', 'Dennis', 0, '', 'Q.PEAK DUO BLK ML G10+', 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'CIP', 0, 0, 'Carrollton', 'TX', '75007', 'USA', '', '', '', 'WH', '', 'N', 'N'))
2022-04-26 09:59:34,427 INFO sqlalchemy.engine.Engine COMMIT
2022-04-26 09:59:34,430 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2022-04-26 09:59:34,431 INFO sqlalchemy.engine.Engine [cached since 264.9s ago] ('dbo', 'BASE TABLE')

114.00760436058044

In [7]:
eu.df

,ALLOC_CW,Legal,SST,SO,REMARK,Grade,Year,Month,Invoice_Num,Invoice_Date,...,State,ZIP,Country,WH,SIP,CVD,WH_PS,SPA,SO_,SO_Approval
0,,2022-03-04,2022-02-15,AA,,,0,0,127224,2022-03-07,...,CA,94804,USA,CA,N,Tariff,PS,,,
1,,2022-03-10,2022-03-10,AA,,P2,0,0,127323,2022-03-10,...,CA,95828,USA,GA,N,,PS,,,
2,,2022-03-10,2022-03-10,AA,,P2,0,0,127200,2022-03-02,...,FL,95828,USA,GA,N,,PS,,,
3,,2022-03-22,2022-03-01,AA,30397471C actually shipped,,0,0,127628,2022-03-29,...,CA,95012,USA,CA,N,Tariff,WH,,,
4,,2022-03-09,2022-03-09,AA,shipped as 12005804C,P2,0,0,127276,2022-03-14,...,CA,92806,USA,"Savannah, GA",N,Tariff,WH,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2698,,,,JL,Legal/SST/Allocate,,0,0,NEW PO,,...,CA,94544,USA,,,,WH,,,
2699,,,,JL,SST/Allocate,,0,0,NEW PO,,...,TX,78744,USA,,,,WH,,N,N
2700,,,,JL,SST/Allocate,,0,0,NEW PO,,...,TX,78217,USA,,,,WH,,N,N
2701,,,,JL,SST/Allocate,,0,0,NEW PO,,...,LA,70087,USA,,,,WH,,N,N
2702,,,,JL,SST/Allocate,,0,0,NEW PO,,...,TX,75007,USA,,,,WH,,N,N

In [ ]:
e